
<h1>Add your client to your stylist!</h1>
<form action="/stylists/viewClients" method="post">
  <label for="name">Name: </label>
  <input type="text" name="name">
  <br><br>
  <label for="age">Age: </label>
  <input type="text" name="age">
  <br><br>
  <label for="personalPronoun">Preferred Personal Pronoun: </label>
  <input type="text" name="personalPronoun">
  <br><br>
  <select name="stylists-id">
     @foreach (var stylists in Model)
     {
       <option value="@stylists.GetId()">@stylists.GetName()</option>
     }
   </select>
   <br><br>
  <button type="submit" name="button">Click here to add your client!</button>
</form>
