<h1>Add your new stylist</h1>
<form action="/" method="post">
  <label for="stylist-name">Enter the name of the stylist: </label>
  <input type="text" name="stylist-name">
  <button type="submit">Enter Info!</button>
</form>
<a href="/">Go Home!</a>
