<h1>Here is a list of all your clients for this stylist!</h1>
@foreach (var x in Model["client"])
{
    <h3>@x.GetName()</h3>
    <li>@x.GetAge()</li>
    <li>@x.GetPersonalPronoun()</li>
}
<h1>Add a client for this stylist!</h1>
<a href="/stylists/clientAdd">Add your client here</a>
<br><br>
<a href="/">Go Home!</a>
